
div#account_info {
    position: absolute;
    top: 10px;
    margin-left: 920px;
}

div#login_register_block 
{
    position: absolute;
    width: 1000px;
    background: #E5E5E5;
}

div#login_register_block div#login
{
    float: left;
    width: 478px;
    height: 180px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#login_register_block div#register 
{
    border-left: 1px solid #333333;
}