

div { 
    display: block; 
}

strong {
    font-weight: bold;
}

.home {
    width: 100%;
    height: 100%;
    display:block;
    margin: auto auto;
    background: url('/medias/images/bg/naviland-home-bg.jpg') #002f77 no-repeat top center;
    color: white;
}

.home #footer .inner, .home #footer a { color: #FFFFFF; }

.clearfix:before, .clearfix:after { 
    content: ""; 
    display: table; 
}

.clearfix:after { 
    clear: both; 
}

.whitesmoke, .whitesmoke a {
    color: whitesmoke; 
}

ul li { list-style: none; }

div.body { 
    background-color:#ffffff; 
    font-size:10px; margin:0 auto; 
    padding:0; 
    height: 100%;
}
div.body.home {
    background-color: #002f77;
}

img { border:0; }

a { text-decoration:none; }

div#flashContent { position: absolute; top: 0; z-index: -1;}

div#header { 
    width: 100%; 
    height: 126px;
}

div#header #header_right {
    float: right;
    height:126px;
    width: 803px;
}

div#main {
    width: 100%;
    height: 527px;
}

div#footer { 
    width: 100%; 
    height: 32px;
    padding-top: 30px; 
    text-align: center; 
    font-family: HelveticaNeueLight;
    font-size: 10px;
    letter-spacing: 0.06em;
}

div#logo {
    float: left; 
    height: 126px;
    width: 157px;
}

div#logo .inner {
    margin: 17px 0 0 27px;
}

div#logo_afaq {
    width: 100%;
    float: left;
    height: 50px;
}

div#logo_afaq .inner {
    float: right; 
    margin: 4px 20px 4px 0px;
    width: 36px; 
    height: 41px;
}

div#core { 
    width: 100%;
    height: 408px;
}

div#core img {
    position: relative;
    z-index: 498;
}

div#core .mask_layer { 
    background-image: url('/medias/images/mask.png'); 
    width: 960px;
    height: 408px; 
    position: relative;
    z-index: 500;
}

div#core .image_layer {         max-height: 408px; z-index: -998; }
div#core .image_layer_small {   max-width: 350px; width: 350px; }
div#core .image_layer_smaller { max-width: 185px; width: 185px; }
div#core .image_layer_big {     max-width: 525px; width: 525px; }

div#core .border-left, .ecocalclateur_border_left 
{
    border-left: 1px solid #b4b4b4;
    position: absolute;
    top: 59px;
    bottom: 7px;
    z-index: 999;
}

.ecocalclateur_border_left 
{
    top: 71px;
}

div#core .text_layer_big { 
    float: right; 
    width: 614px; 
    height: 343px; 
    margin: 1px 0;
    border-top: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    z-index: 1999;
}

div#core .text_layer_bigger 
{ 
    width: 776px; 
    float: right; 
    height: 343px; margin: 1px 0; 
    border-top: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    z-index: 1999; 
}

div#core .text_layer_small 
{ 
    float: right; 
    width: 436px; 
    height: 344px; 
    margin: 1px 0px;
    border-top: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    z-index: 1999;
}

div#core .text_layer_big .inner, div#core .text_layer_small .inner{
    margin: 22px 30px ;
    margin-right: 30px;
    border: 1px solid #0782C1;
    
}

div#core .mask_layer .text_layer { 
    float: right; 
    width: 535px; 
    height: 343px; 
    border-top: 1px solid #b4b4b4;
    border-right: solid 1px #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    background-color: white;
    z-index: 1999;
}

div#text_container 
{ 
    margin: 0 auto; 
    width: 382px; 
    height: 292px; 
    overflow-y: scroll; 
    padding: 25px 24px 25px 30px; 
}
div.text_layer_bigger #text_container { width: 739px; height: 302px; overflow: hidden; padding: 20px 18px 20px 18px; } 
div.text_layer_big #text_container { width: 563px; height: 322px; overflow: hidden; padding: 20px 26px 0px 26px; } 

div#text_container .title { 
    font-family: HelveticaNeueBold;
    font-size: 25px; 
    text-transform: uppercase;
}

div#text_container.implantations ul > li,
div#text_container.sustainable_policy-qhse ul > li,
div#text_container.jobs_politique-rh ul > li {list-style: disc; list-style-position: outside; margin-left: 20px;}
div#text_container.sustainable_policy-qhse ul > li ul li,
div#text_container.jobs_politique-rh ul > li ul li {list-style: circle;}

div#text_container .block {
    clear: both;
    font-family: HelveticaNeueLight; 
    font-size: 13px; 
    text-align: justify;
   /* line-height: 120%; */
}

div#text_container .contacts_block > ul {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

div#text_container .contacts_block > ul > li { padding-top: 15px; }

div#text_container .contacts_block > ul.list > li {
    font-family: HelveticaNeueLight;
    font-size: 13px;
    float: left;
    list-style: none;
    width: 100%;
}

div#text_container .contacts_block > ul.toggle > li:nth-child(odd) {
    font-family: HelveticaNeueBold;
    font-size: 13px;
    float: left;
    list-style: none;
    width: 30%;
}
div#text_container .contacts_block > ul.toggle > li:nth-child(even) {
    font-family: HelveticaNeueLight;
    font-size: 13px;
    float: left;
    list-style: none;
    width: 70%;
}
div#text_container .block .block_title {
    padding-top: 15px; font-family: HelveticaNeue; font-size: 15px; text-transform: uppercase; font-stretch: semi-condensed;
}

div#text_container .block_content > ul{ float: left; width: 100%; padding-top: 15px;}

div#text_container .block_content > ul > li:first-child {
    font-family: HelveticaNeueBold;
    font-size: 13px;
    float: left;
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 13px;
    width: 100%;
}

div#text_container .block_content > ul > li:not(:first-child) {
    font-family: HelveticaNeueLight;
    font-size: 13px;
    list-style-type: none;
}

div#block_contacts .block_content > ul > li:first-child { width: 23%;}
div#block_contacts .block_content > ul > li:nth-child(2) { width: 73%; float: left;}

div#text_container .block_content ul.dash,
div#text_container .block_content ul.half,
div#text_container .block_content ul.full { width: 100%; float:left; }
div#text_container .block_content ul.dash li { list-style-type: circle; margin-left: 25px; }
div#text_container .block_content ul.half li:nth-child(odd) { width: 45%; float: left; padding-left: 10px;}
div#text_container .block_content ul.half li:nth-child(even) { width: 50%; float: left; }
div#text_container .block_content ul.full li { width: 90%; float: left; padding-left: 10px;}

div#text_container .subtitle { font-family: HelveticaNeueLight; font-size: 15px; text-transform: uppercase; font-stretch: semi-condensed;}
div#text_container .subtitle:repeat-item { padding-top: 15px;}

#implantation_activities ul {
    width: 100%; float:left; 
}
#implantation_activities ul li {
    list-style-type: circle; margin-left: 25px;
}
div#text_container .text, div#text_container .textarea { 
    font-family: HelveticaNeueLight; 
    font-size: 13px; 
    text-align: justify;
   /* line-height: 120%; */
}

div#text_container .text p {
    padding: 0 0 0 0;
}

div#text_container .text img {
    width: 350px;
    margin-top: 10px;
}

div#text_container .text .ul_title, div#text_container .text .job_title {
    padding: 10px 0 0 0;
    font-weight: bold;
}

div#text_container .job_title {
    padding: 15px 0 0 0;
    font-family: HelveticaNeueBold;
    font-size: 14px;
    text-transform: uppercase;
}

div#text_container .job_reference {
    font-size: 13px;
    font-family: HelveticaNeue;
}

div#text_container .job_desc {
    padding: 15px 0 0 0;
    font-family: HelveticaNeueLight;
    font-size: 13px;
}

div#text_container .text .checkmark li {
   position:relative;
   padding-left: 28px;
}

div#text_container .text .circle li {
    margin-left: 20px;
    list-style-type: circle;
}


div#text_container .text .dot li { margin-left: 20px; list-style-type: disc; }

div#text_container ul.dot > li { list-style-type: disc; padding-left: 0px; list-style-position: outside; margin-left: 16px; }

div#text_container ul.ul_left_right > li:first-child,

div#text_container .text .dash li:before {
    content: '-';
    margin-left: 10px;
    margin-right: 10px;
}

div#text_container .text .bigger_padding li, div#text_container .text .dot li p {
    padding-top: 10px;
}

div#text_container .news_list li { margin-top: 15px; }
div#text_container .news_list li:first-child { margin-top: 25px; }

div#text_container .news_list a {text-decoration: underline;}

div#text_container .news_date {
    font-weight: bold;
    font-size: 12px;
}

div#text_container .news_title {
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    font-family: HelveticaNeue;
}
div#text_container .news_rdate {font-family: HelveticaNeue; font-size: 12px;}
div#text_container .news_content {
    font-size: 12px;
    line-height: 120%;
    font-family: HelveticaNeueLight;
}
div#text_container .read-more {
    font-family: HelveticaNeueBold;
}

div#text_container .text .checkmark li:before{
    content:"\00a0";
    display:block;
    width: 4px;
    height: 8px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    position:absolute;
    left: 4px;
    margin-top: 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

div#text_container .text .subtitle2 {
    font-weight: bold; 
    text-transform: uppercase;
    padding: 15px 0 0 0;
}


div#widge { 
    width: 100%;
    margin-top: -33px;
    clear: both;
    position: relative;
    z-index: 900;
}

div#widge .inner {
    margin: 0 66px;
}

div#widge ul { 
    height: 145px; 
}

div#widge ul li {
    float: left; 
    width: 163px; 
    height: 145px; 
}

div#widge ul li .shadow_layer {
    width: 153px;
    height: 143px;
    float: left;
}

div#widge ul li .shadow_layer .wrap {
    width: 146px;
    height: 135px;
    float: left; 
    margin: 0px 0px 0px 0px; 
}
div#widge ul li:hover .shadow_layer { background: url('/medias/images/widgets/widget_shadow.png') no-repeat; z-index: 951; }

div#widge .eco .wrap { background: url('/medias/images/widgets/Widget_ECO-CALCULEZ.png') no-repeat; z-index: 955;}
div#widge .work .wrap { background: url('/medias/images/widgets/Widget_PROFITEZ_DE_NOS_EXPERTISES.png') no-repeat; z-index: 955; }
div#widge .transport .wrap { background: url('/medias/images/widgets/Widget_TRANSPORTEZ.png') no-repeat; z-index: 955; }
div#widge .benefit .wrap { background: url('/medias/images/widgets/Widget_BENEFICIEZ_DE_NOS_SERVICES.png') no-repeat; z-index: 955; }
div#widge .quote .wrap { background: url('/medias/images/widgets/Widget_OBTENEZ_VOTRE_COTATION.png') no-repeat; z-index: 955; }
div#widge .metiers .wrap { background: url('/medias/images/widgets/widget_decouvrez_nos_metiers.png') no-repeat; z-index: 955; }

div#widge .text {
    margin: 20px auto;
    width: 130px;
    height:90px;
}

div#core-left { position: absolute; width: 180px; height: 100px; margin-top: 130px; margin-left: 50px;}
div#widge .bigger_text, div#core-left .text {
    font-family: HelveticaNeueBold;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    width: 139px;
    line-height: 90%;
}
div#core-left .text {font-size: 23px;}
div#core-right { background: url('/medias/images/bg/news_ticker_bg.png') no-repeat; z-index: 956; width: 439px; height: 275px; float: right; margin-top: 10px; color: #ffffff; position: relative;}
div#core-right #news_homepage { width: 439px; height: 165px; }
div#core-right #news_homepage .wrapper { width: 408px; height: 125px; padding: 20px 20px 0 10px; position: absolute; }
div#core-right #news_homepage .wrapper ul { width: 382px; height: 120px; float: right;}
div#core-right #news_homepage .wrapper ul li { padding-top: 7px; list-style: disc; color: #ffffff; font-family: HelveticaNeue; font-size:  16px; font-style: italic; list-style-position: outside; line-height:18px; }
#core-right #news_homepage .wrapper ul li strong { font-family: HelveticaNeueBold;  color: #ffffff; }
div#news_call_center {width: 100%; }
div#news_call_center .wrapper { margin-left: 40px; margin-top: 3px; }
div#news_call_center label {color: #96bf0d; font-size: 11px; font-family:HelveticaNeueBold;}
div#news_call_center .wrapper .field { color: white; font-size: 11px; font-family: HelveticaNeue; }
div#network_call_center { width: 235px; padding-top: 167px; padding-left: 13px; }
div#network_call_center .wrapper { width: 100%; float: left;}
div#network_call_center .label {color: #96bf0d; font-size: 12px; font-family: HelveticaNeueBold; width: 90px; float: left; line-height: 15px;}
div#network_call_center ul {width: 138px; float: right; display: block; }
div#network_call_center ul li {color: white; font-size: 11px; font-family: HelveticaNeueBold; line-height: 15px;}

div#widge .smaller_text {
    font-family: HelveticaNeueBold;
    text-transform: uppercase;
    font-size: 9px;
    color: #ffffff;
    margin-top: 1px;
}

div#widge .dropdown, div#core-left .dropdown {
    display:block;
    margin: auto;
    width: 120px;
    z-index: 999;
    position: absolute;
    bottom: 65px;
}
div#core-left .dropdown {bottom: 55px; left: 5px;}
div#widge .dropdown .label, #core-left .dropdown .label { color: #ffffff; size: 16px; display: block; margin-bottom: 2px; font-family: RotisReg; font-style: italic; }
div#widge .dropdown select, div#core-left .dropdown select{ width: 100%; height: 22px; -moz-border-radius :2px; -webkit-border-radius: 2px;}

div#widge .dropdown .sbHolder, 
div#core-left .dropdown .sbHolder,
div#transport-form .sbHolder{width: 120px; height: 22px; position: absolute; border: 1px solid #ABAEB2; font-size: 10px;}

div#widge .dropdown .sbToggle, 
div#core-left .dropdown .sbToggle, 
div#transport-form .sbToggle{background: url(/medias/images/widgets/widget_select_down.png) 0 0 no-repeat; right: 0; top: 0; position: absolute; width: 20px; height: 22px; display: block; }

div#widge .dropdown .sbSelector, 
div#core-left .dropdown .sbSelector, 
div#transport-form .sbSelector {width: 100px; display: block; height: 22px; line-height: 22px; left: 0; position: absolute; text-indent: 2px; top: 0; background-color: white; font-family: HelveticaNeue; font-size: 12px; overflow: hidden;}

div#widge .dropdown .sbOptions, 
div#core-left .dropdown .sbOptions, 
div#transport-form .sbOptions {background-color: white; border: solid 1px #ABAEB2; list-style: none; margin-left: 0px; padding: 0; position: absolute; top: 22px; width: 157px; height:auto; z-index: 999; overflow-x: hidden; overflow-y: scroll; max-height: 151px; }

div#widge .dropdown .sbOptions 
{
    top: -110px;
}
div#widge .dropdown .sbOptions {max-height: 110px;}

div#widge .dropdown .sbOptions li, 
div#core-left .dropdown .sbOptions li,
div#transport-form .sbOptions li { padding: 0 7px; width: 130px; height: 22px; }

div#widge .dropdown .sbOptions a, 
div#core-left .dropdown .sbOptions a,
div#transport-form .sbOptions a { border-bottom: dotted 1px #ABAEB2; display: block; outline: none; padding: 5px 0px 3px 3px; font-size: 10px; font-family: HelveticaNeue; }

div#widge .dropdown .sbOptions a:hover, 
div#core-left .dropdown .sbOptions a:hover, 
div#transport-form .sbOptions a:hover { color: #5176AE; }

#form-transport
{
    height: 50px;
}

div#transport-form .transport-form-result_1
{
    height: 195px;
    overflow-y: scroll;
}
div#transport-form .transport-form-result_2
{
    position: absolute;
    height: 30px;
    width: 292px;
    bottom: 85px;
}

div#footer .inner { display: block; }
div.services_quotation .title_block { width: 739px; float: left; }
div.services_quotation .title_block .left {font-family: HelveticaNeueBold; font-size: 26px; width: 390px; float: left; }
div.services_quotation .title_block .right {float: left; width: 348px; }
div.services_quotation .title_block .right label { width: 140px; float: left; font-family: RotisExBold; font-size: 14px; text-align: right;}
div.services_quotation .title_block .right ul { width: 200px; float: right; font-family: RotisReg; font-size: 14px; margin-left: 4px; }
div#quote-form .section{ margin-top: 5px; font-family: RotisReg; font-size: 14px; font-style: italic; }
div#quote-form .section select { font-size: 10px; padding-left: 5px; color: black; }
div#quote-form .section.left { width: 30%; display: block; float: left; }
div#quote-form .section .row { width: 100%; display: block; float: left; }
div#quote-form .section.left .row .label { display: block; width: 95%; margin-top: 2px; }
div#quote-form .section.left .row input { height: 18px; -moz-border-radius :3px; -webkit-border-radius: 3px; }
div#quote-form .section.left .row input.full { width: 95%; max-width: 95%; margin-top: 1px; position: relative;}
div#quote-form .section.right { width: 65%; display: block; float: right; background-color: #ededee; padding: 5px 15px 0px 15px; height: 270px; }
div#quote-form .section.right .block { width: 100%; padding: 5px 0 0 0; float: left;  }
div#quote-form .section.right .block .two-third { width: 66%; float: left;}
div#quote-form .section.right .block .one-third { width: 33%; float: left; text-align: right;}
div#quote-form .section.right .block .two-third .label,
div#quote-form .section.right .block .one-third .label,
div#quote-form .section.right .block .full .label { font-family: RotisExBold; font-style: normal; }
div#quote-form .section.right .block > .label { display: block; font-family: RotisExBold; font-style: normal; }
div#quote-form .section.right .block input { height: 18px; -moz-border-radius :4px; -webkit-border-radius: 4px; width: 110px;}
div#quote-form .section.right .btn { float: right; width: 71px; height: 20px; background-image: url('/medias/images/btn_envoyer.png'); background-repeat: no-repeat; cursor: pointer; }
div#quote-form .section.right .block .left { float: left; width: auto; }
div#quote-form .section.right .block .middle { float: left; margin-left: 5px; width: auto; }
div#quote-form .section.right .block .right { float: right; text-align: right; width: auto; }
div#quote-form .section.right .block .three-fourth {display: block; font-family: RotisExBold; font-style: normal; width: 83%; float: left; }
  
div#quote-form .section.right .block .one-fourth { position: relative; width: 10%; float: right; position: absolute; bottom: 83px; right: 10px; }
div#quote-form .section.right .block textarea { float: left; width: 100%; display: block; height:55px; height:53px\9;}
div#quote-form .section.right .row { margin-top: 3px; }  

div#success-quote 
{
    border: 1px solid #4F8A10; 
    background-color: #DFF2BF;
    color: #4F8A10;
    padding: 15px 15px 15px 15px;
    margin-top: 50px;
}
div.plan_de_transport-network { font-family: HelveticaNeue; }

.plan_de_transport-network .section.left { float: left; width: 292px; height: 300px; overflow: hidden; font-size: 12px; font-family: HelveticaNeue; }

.plan_de_transport-network .section.left p { color: rgb(126,225,253); float: left; padding-top: 4px; }
.plan_de_transport-network .section.left p .bold { color: rgb(126,225,253); font-weight: bold;}
.plan_de_transport-network .section.left .big_number { border: 1px solid #ccc; background-color: #efefef; -moz-border-radius :2px; -webkit-border-radius: 2px; font-size: 13px; padding: 1px; }

.plan_de_transport-network .section.right { width: 250px; height: 296px; float: right; }
.plan_de_transport-network .section.bottom { width: 595px; float: left; font-family: HelveticaNeue; font-size: 11px; position: absolute; bottom: 65px; left: 360px;}
.plan_de_transport-network .section.bottom .bold {font-family: HelveticaNeueBold; }
.plan_de_transport-network .section.right .block1 { background-color: #ededee; height: 135px;  padding-top: 7px; margin-top: 10px; }
.plan_de_transport-network .section.right .block1:first-child { margin-top: 0; }
.plan_de_transport-network .section.right .label { font-family: HelveticaNeueBold; font-weight: bold; font-size: 11px; text-align: left; padding-left: 10px; }
.plan_de_transport-network .section.right table { width: 230px; border-spacing:0; border-collapse:collapse; margin: 5px 10px ;}
.plan_de_transport-network .section.right table tr th { font-family: HelveticaNeueBold; color: rgb(126,225,253); font-size: 12px; border-bottom: 1px solid grey; }
.plan_de_transport-network .section.right table tr td { width: 38%; font-family: HelveticaNeue; font-size: 10px; text-align: center; border-top: 1px solid #bbb; padding: 2px 0 2px 0;}
.plan_de_transport-network .section .closing, 
.plan_de_transport-network .section .block { width: 100%; padding-bottom: 5px; font-family: HelveticaNeue; float: left; }
.plan_de_transport-network .section .closing label,
.plan_de_transport-network .section .block .bold { display: block; font-family: HelveticaNeueBold; font-size: 13px; }
.plan_de_transport-network .section .block .normal { display: block; font-family: HelveticaNeue; font-size: 12px;}

.plan_de_transport-network form { display: block; clear: both; width: 100%;}
.plan_de_transport-network .depart,
.plan_de_transport-network .arrivee,
.plan_de_transport-network .submit { float: left; display: block; width: 130px; }
.plan_de_transport-network .submit { width: 25px; }
.plan_de_transport-network .depart .label,
.plan_de_transport-network .arrivee .label,
.plan_de_transport-network .submit .label { display: block; font-family: RotisExBold; font-style: italic; font-size: 13px; padding: 3px 0; }
.plan_de_transport-network .depart select,
.plan_de_transport-network .arrivee select { height: 18px; width: 110px; font-size: 10px; padding-left: 2px; }
.plan_de_transport-network .submit img {width: 18px; height: 18px; }

.metiers_operator ul li { list-style-type: disc; margin-left: 15px; }
.services_ferro_maritime {color: #5b5b5b; font-family: HelveticaNeueLight; font-size: 12px; }
.services_ferro_maritime ul li { list-style-type: disc; margin-left: 15px; }
.services_ferro_maritime ul li ul li { list-style-type: circle; }
.services_ferro_maritime img { width: 350px; margin-top: 10px; }

.footer-credits .block { margin-top: 12px; } 
.footer-credits .block .label { font-family: HelveticaNeue; font-size: 15px;}
.footer-credits .block ul li { font-family: HelveticaNeueLight; font-size: 13px;}

.sitemap_navi { width: 100%; }
.sitemap_navi > li {list-style: disc; margin-left: 15px; margin-top: 10px; font-family: HelveticaNeue; font-size: 13px;}
.sitemap_navi > li > ul {}
.sitemap_navi > li > ul > li {list-style: circle; margin-left: 15px; font-family: HelveticaNeueLight; font-size: 13px;}

div#network_right_bottom a
{
    color: white;
    position: absolute;
    right: 10px;
    bottom: 70px;
    font-family: HelveticaNeue;
    font-size: 12px;
}