a 
{
    text-decoration: none;
}

html {
    height: 100%;
}

body 
{
    margin: 0 auto;
    font-family: arial;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100%;
    min-width: 1024px;
}

.ajax-loader 
{
    background: url('/medias/images/ajax-loader.gif') no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}
/*wrap*/
#wrap { margin: 0 auto; width: 100%;}

/*header*/
#header {
	background: #ffffff;
	height: 80px;
  width: 100%;
}

#footer 
{
    bottom: 5px;
    width: 1000px;
    margin: 0 auto;
}

#footer-wrapper 
{
    color: #666666;
    width: 1000px;
    text-align: center;
    position: fixed;
    bottom: 5px;
}

#footer-wrapper a 
{
    color: #888888; /*#43555f*/
    font-size: 12px;
    font-weight:bold;
}
#header #header-wrapper {
    background-color:#ffffff;
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

#header-title 
{
    float:left;
    margin-top:15px;
}
#title-one
{
    font-size:13px;
    color: #666;
    font-weight: normal;
}

#title-two 
{
    color: #43555f;
    font-weight: bold;
}

#title-calque
{
    width: 450px;
    height: 3px;
    border-top: 1px solid #666;
}

#title-three
{
    font-weight:normal;
    font-size:13px;
    color: #666;
}

#logo { 
    float: right; 
    margin-right: 20px; 
    margin-top: 16px;
}
#logo img { width: 175px; }

/*main*/
#main {
    background-color: rgb(247, 247, 247);
    /* background-color: rgb(247, 247, 247); */
}

#main-wrapper {
    background-color: rgb(247, 247, 247);
		margin: 0 auto 0  auto;
    display: block;
}

#main-wrapper-wrapper { 
		background: url('/medias/images/kv-login.jpg') repeat center center rgb(247, 247, 247) ; 
		height:562px;
		margin: 0 auto 0  auto;
}

#main-top-border {
    background-color: #43555f;
    height: 5px;
    margin-top: 0px;
}

#breadcrumb, #menu
{
    background-color: #43555f;
    height: 30px;
    font-size: 12px;
    margin-top: 0px;
}

#breadcrumb #breadcrumb-wrapper, #menu #menu-wrapper
{
    color: #fff;
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

#breadcrumb #breadcrumb-wrapper ul, #menu #menu-wrapper ul {
    margin: 0px;
    height: 30px;
    display: inline-block;
    width: 100%;
    padding: 0px;
}

#breadcrumb #breadcrumb-wrapper ul li, #menu #menu-wrapper ul li
{
    list-style: none;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0 50px 0 0;
		height:23px;
		padding:7px 10px 0 10px;
}

#menu #menu-wrapper ul li a { text-decoration: none; color: #ededed; text-transform: uppercase; font-weight: bold; font-size: 12px; }

#menu #menu-wrapper ul li:hover { text-decoration: none; color: #43555f; background-color:#ededed;  text-transform: uppercase; cursor:pointer;}

#breadcrumb #breadcrumb-wrapper ul li.active, #menu #menu-wrapper ul li.active a
{
    font-weight: bold;
    color: #43555f;
}
#menu #menu-wrapper ul li:hover a  { color: #43555f; }

#breadcrumb #breadcrumb-wrapper ul li.active, #menu #menu-wrapper ul li.active
{
		background-color:#ededed; 
}
#breadcrumb #breadcrumb-wrapper ul li.active:hover, #menu #menu-wrapper ul li.active:hover
{
	color: #43555f; 
}

#menu #menu-wrapper li.logout { float:right; text-align: right; margin-right: 0;}

#main-content-login
{
    /*background: url('/medias/images/kv-login.jpg') repeat center center;*/
    width: 1000px;
    height:562px;
    margin: 0px auto 0 auto;
    display: block;
}

#login-text {
    background: url('/medias/images/login-text-cn.png') no-repeat center center;
    width: 280px;
    height:60px;
    margin: 10px auto 0 auto;
    padding-top:50px;
    display: block;
}

#register-form, #main-content
{
    width: 1000px;
    margin: 0 auto;
}

#register-form-title, #main-content-title, #login-form .left-title,.left-title, #login-form .right-title,.right-title
{
    font-size: 18px;
    border-bottom: 2px solid black;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

div#step-one, div#step-two, div#step-three { display: block; float: left; margin-top: 5px; padding-bottom: 10px;}
div#step-one .section, div#step-two .section, div#step-three .section
{
    display: block;
    clear: both;
    height: auto;
    width: 100%;
    margin-top: 0px;
}

select
{
    /*float:right; */
    width: 210px;
    height: 30px;
    font-size: 12px;
    -webkit-border-radius: 2px;
    vertical-align: central;
}
.left-login
{  
  	background: url('/medias/images/login-trans-block.png') repeat center center;
		width: 440px;
		height:220px;
    float: left; 
		margin:2px 0 0 60px ;
}

.right-login
{
   	background: url('/medias/images/login-trans-block.png') repeat center center;
		width: 440px;
		height:220px;
		float: left;
		margin:2px 0 0 0 ;
}

.left 
{  
    width: 500px; 
    float: left; 
}

.right
{
    width: 500px;
    float: right;
}

.left-wrapper, .right-wrapper 
{
    margin:20px;
    width: 330px;
}

.row
{
    display: block;
    clear: both;
    padding-top: 10px;
    width: 100%;
    height: auto;
}

.row > label
{
    width: 170px;
    float: left;
    text-align: left;
    vertical-align: central;
    padding-top: 8px;
    padding-right: 2px;
    font-size: 12px;
    color: #4c4c4c;
    font-weight: bold;
    text-transform: uppercase;
}

div#index .left-login .row > label {width: 80px;}
div#index .right-login .row > label {width: 80px;}
div#index .left .row > label {width: 80px;}
div#index .right .row > label {width: 80px;}
div#step-one .left .row > label {width: 210px;}
div#step-one .right .row > label {width: 100px;}
div#step-two .left .row > label { width: 180px;}
div#step-two .right .row > label { width: 180px;}
div#step-three .row > label {width: 260px; }
div#step-three .row > label.small {width: 130px;}

.row .field 
{
    width: 300px;
    float: left;
    text-align: left;
}
.row .field > .text { float: right; font-weight: bold; padding-right: 90px; padding-top: 7px;}
div#step-one .left .row .field {width: 210px;}
div#step-one .right > .row > .field {width: 350px;}
div#step-one .right > .row > .field > .row > .field { width: 230px;}
div#step-two .row > .field {width: 240px;}
div#step-three .row .field { padding-top: 7px; width: auto;}
div#index .row .field {width: 210px; float: right;}
div#step-one .row .field > label,
div#step-three .row .field > label {     
    text-align: right;
    padding: 5px 4px 4px 0px;
    font-size: 12px;
    color: #4c4c4c;
}
div#step-one .row .field input[type='radio'] {margin-top: 7px;}
div#step-one .row .field > .erorrs
{
    padding-left: -20px;
}

div#step-one .row .field > .erorrs li { padding-left: -20px;}

div#step-one .row #position {
    width: 345px;
    float: right;
}
div#step-one .row #position label {
		font-size:12px;
}

textarea, input[type='text'], input[type='password'],
div#step-one input[type='text'], div#step-one input[type='password'],
div#step-two input[type='text'],
div#step-three input[type='text']
{
    padding: 5px;
    border-radius: 4px;
    text-indent: 3px;
    font-size: 12px;
    width: 100%;
		border:solid 1px #a9a9a9;
}
div#step-one input[type='text'], div#step-one input[type='password'],
div#step-two input[type='text'], 
div#step-three input[type='text']
{ 
    width: 200px; 
}
div#step-three textarea {width: 485px; float:left;}

div#index .left input[type='text'], div#index .left input[type='password']
{
    width: 96%;
    float: right;
}

div#index .right input[type='text']
{
    width: 80%;
    float: right;
}

.error
{
		background-color:#ffbdbd;
		border:solid 1px #cc0000 !important;
    border-radius: 5px;
}

.btn
{
    float: right;
}

input[type='submit'], .btn
{
   background-color: #43555f;
   padding: 8px 50px;
   border-radius: 3px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   text-transform: uppercase;
   color: white;
   border:solid 1px #43555f;
   font-weight: bold;
   font-size: 12px;
   float:right;
   margin-left: 8px;
   cursor: pointer;
}

.small-btn
{
    background-color: #43555f;
    padding: 5px 10px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   font-size: 12px;
}

.important-notice 
{ 
    color: rgb(181, 4, 4); 
    font-size: 12px;
    text-align: center;
    width: 1000px;
}
.general-notice 
{
    font-size: 12px;
    text-align: center;
}

#unattending .right label 
{
    text-align: left;
}

#unattending textarea 
{
    float: left;
    width: 98%;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
}


div#profile table, div#venue table
{
    width: 100%;
}

div#profile table tr, div#venue table tr
{
}

div#profile table tr td, div#venue table tr td
{
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
    padding-right: 30px;
}

div#profile table tr td:first-child, div#venue table tr td:first-child
{
    width: 35%;
    font-weight: bold;
}

div#conf-lib
{
    width: 100%;
    font-size: 12px;
}

div#conf-lib .block 
{
    display: block;
    float: left;
    margin-top: 10px;
}

div#conf-lib .block > label 
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

div#conf-lib ul 
{
    margin-top: 0px;
}

div#conf-lib ul li
{
    list-style: none;
}

div#conf-lib ul li > span
{
    width: 200px;
    float: left;
    margin-top: 10px;
}

div#conf-lib ul li > span:first-child
{
    width: 400px;
}

div#register .one-fourth 
{
    width: 250px;
}

#step-one .pos-block {display: block; float:left;}
.col-left
{
    float:left;
    display: block;
    width: 150px;
    margin-top: 8px;
}

.col-right, .col-right select
{
    float:right;
    display: block;
    width: 188px;
    margin-top: 8px;
}


.col-right > label
{
    text-align: right;
    padding-top: 8px;
    padding-right: 2px;
    font-size: 12px;
    color: #4c4c4c;
    font-weight: bold;
}

.col-right .field {
    float: right;
}

#edit-profile 
{
    float:right;
    margin-top: -5px;
}

.clear 
{
    width: 1000px;
    height: 20px;
    display: block;
    float: left;
    clear: both;
}

.event 
{
    font-size: 12px; color: #4c4c4c;
}

.event .title { 
    font-size: 18px; margin-top: 15px; font-weight: bold;
}


.underlined 
{
    border-bottom: 1px solid;
}

.full
{
    width: 100%;
}

.half-width
{
    width: 500px;
}

.two-fifth-width
{
    width: 400px;
}

.f-left 
{
    float: left;
}

.f-right
{
    float: right;
}

.event img 
{
    float: left;
}

.event iframe
{
    margin-top: 5px;
}
.event .block 
{
    width: 100%; display: block; float: left; padding: 10px 0;
}

.event .sub-block 
{
    display: block; float: left; padding: 10px 0;
}

.event .block-title
{
    width: auto; font-size: 18px; font-weight: bold; padding: 10px 0; 
}

.event .sub-block-title
{
    font-size: 12px; font-weight: bold; margin: 10px 0px 0px 0px; width: auto; display: block; float: left;
}

.event #hospitality .sub-block-title { font-size: 14px;}

.event ul 
{
    width: 100%; padding: 0; display: block; float: left; list-style: none;
}

.event ul li 
{
    list-style: none;
    margin-top: 2px;
}

.event ul li > span
{
    font-weight: bold;
}

.event ul.two-li > li
{
    list-style:  disc;
    list-style-position: inside;
    width: 50%;
    float: left;
}

.event ul.disc > li
{
    list-style:  disc;
    list-style-position: outside;
    width: 100%;
    float: left;
    margin-left: 15px;
}

.event ul.decimal > li {
    list-style: outside; margin-left: 20px; list-style-type: decimal;
}

.event a  {
    text-decoration: none;
		color: #43555f;
		font-weight:bold;
		font-size:12px;
}
.event a:hover  {
		text-decoration:underline;
}
div#hotel-image img {width: 500px; margin-top: 20px; border: 1px solid #4c4c4c;}
div#hotel-name { width: 500px; position: absolute; margin-top: 40px; color: white;  font-size: 16px; margin-left: 155px; font-weight: bold;}
div#hotel-addr { width: 500px; position: absolute; margin-top: 300px; color: white; margin-left: 150px; font-size: 16px; font-weight: bold;}

div#gender {
		font-size:12px;
}

.iframe {
    display: none;
}

#forgot-pwd {
    padding-top: 8px; position:absolute; font-size: 12px; color: #4c4c4c;
}

#forgotpassword
{
    background: url('/medias/images/forgot-trans-block.png') repeat center center;
width: 880px;
height: 220px;
float: left;
margin: 2px 0 0 60px;
}

#resetpassword
{
    background: url('/medias/images/trans-block-550-220.png') repeat center center;
    width:  550px;
    height: 220px;
    float: left;
    margin: 2px 0 0 225px;
}

#forgotpassword-wrapper {
    margin: 20px 30px; width: 750px;
}

#resetpassword-wrapper {
    margin: 20px 30px; width: 450px;
}

#forgotpassword-wrapper .row {
    padding-top:1px;
}

#resetpassword-wrapper .row > label {
    width: 200px;
}
#forgotpassword-wrapper form .row .field, #resetpassword-wrapper form .row .field {
    float: left;
}

#forgotpassword-wrapper input[type='text'], #resetpassword-wrapper input[type='text'] {
    width: 250px;
}
#forgotpassword-wrapper .bigger, #resetpassword-wrapper .bigger {
    font-size: 18px;
border-bottom: 2px solid black;
margin-top: 20px;
margin-bottom: 5px;
padding-bottom: 3px;
}

#forgotpassword-wrapper .normal, #resetpassword-wrapper .normal {
    width: 100%;
    float: left;
    text-align: left;
    vertical-align: central;
    padding-top: 8px;
    padding-right: 2px;
    font-size: 12px;
    color: #4c4c4c;
}

#forgotpassword-wrapper .btn {
    margin: 10px 0 0 0;
    float: left;
}