a 
{
    text-decoration: none;
}
body 
{
    margin: 0 auto;
    font-family: arial;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100%;
    min-width: 1024px;
}
/*wrap*/
#wrap { margin: 0 auto; width: 100%;}

/*header*/
#header {height:80px; background: #ffffff;  width: 100%;}
#header #header-wrapper {
    width: 990px;
    height: 80px;
    margin: 0 auto;
    display: block;
    font-size: 12px;
}

#header-title 
{
    float: left;
    margin-top: 16px;
}
#title-one
{
    color: #807f83;
    font-weight: bold;
}

#title-two 
{
    color: #cac2b8;
    font-weight: bold;
}

#title-calque
{
    width: 450px;
    height: 3px;
    border-top: 1px solid #807f83;
}

#title-three
{
    color: #807f83;
}

#logo { 
    float: right; 
    margin-right: 20px; 
    margin-top: 16px;
}
#logo img { width: 175px; }

/*main*/
#main {
    /*background-color: rgb(247, 247, 247); */
}

#main-wrapper {
    margin: 0 auto;
    display: block;
}

#main-top-border {
    background-color: rgb(202, 194, 185);
    height: 5px;
    margin-top: 0px;
}

#breadcrumb, #menu
{
    background-color: rgb(202, 194, 185);
    height: 30px;
    font-size: 14px;
    margin-top: 0px;
}

#breadcrumb #breadcrumb-wrapper, #menu #menu-wrapper
{
    color: #e3dad1;
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

#breadcrumb #breadcrumb-wrapper ul, #menu #menu-wrapper ul {
    margin-left: -40px;
    margin-top: 0px;
    height: 30px;
}

#breadcrumb #breadcrumb-wrapper ul li, #menu #menu-wrapper ul li
{
    list-style: none;
    float: left;
    margin-right: 50px;
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
}
#menu #menu-wrapper ul li a { text-decoration: none; color: #e3dad1;}

#breadcrumb #breadcrumb-wrapper ul li.active, #menu #menu-wrapper ul li.active a
{
    color: #ffffff;
}

#register-form, #main-content
{
    width: 1000px;
    margin: 0 auto;
}
#register-form-title, #main-content-title, #index .left-title, #index .right-title
{
    font-size: 18px;
    border-bottom: 2px solid black;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 3px;
}



div#step-one .section, div#step-two .section, div#step-three .section
{
    display: block;
    clear: both;
    height: auto;
    width: 100%;
    margin-top: 0px;
}

select
{
    float:right; 
    width: 210px;
    height: 30px;
    font-size: 16px;
    -webkit-border-radius: 2px;
    vertical-align: central;
}

.left 
{  
    width: 500px; 
    float: left; 
}

.right
{
    width: 500px;
    float: right;
}

.left-wrapper, .right-wrapper 
{
    width: 300px
}

.row
{
    display: block;
    clear: both;
    padding-top: 10px;
    width: 100%;
    height: auto;
}

.row > label
{
    width: 170px;
    float: left;
    text-align: right;
    vertical-align: central;
    padding-top: 8px;
    padding-right: 2px;
    font-size: 14px;
    color: #4c4c4c;
    font-weight: bold;
}
div#index .left .row > label {width: 80px;}
div#index .right .row > label {width: 80px;}
div#step-one .left .row > label {width: 250px;}
div#step-one .right .row > label {width: 130px; }
div#step-two .row > label { width: 250px; text-align: right; }
div#step-three .row > label {width: 250px; text-align: center;}
div#step-three .row > label.small {width: 130px;}

.row .field 
{
    width: 300px;
    float: left;
    text-align: left;
}
.row .field > .text { float: right; font-weight: bold; padding-right: 90px; padding-top: 7px;}
div#step-one .left .row .field {width: 230px;}
div#step-two .row > .field {width: 240px;}
div#step-three .row .field { padding-top: 7px; width: auto;}
div#index .row .field {width: 210px; float: right;}
div#step-one .row .field > label,
div#step-three .row .field > label {     
    text-align: right;
    padding: 5px 4px 4px 4px;
    font-size: 14px;
    color: #4c4c4c;
}
div#step-one .row .field input[type='radio'] {margin-top: 7px;}
div#step-one .row .field > .erorrs
{
    padding-left: -20px;
}

div#step-one .row .field > .erorrs li { padding-left: -20px;}

div#step-one .row #position {
    width: 350px;
    float: right;
}

textarea, input[type='text'], input[type='password'],
div#step-one input[type='text'], div#step-one input[type='password'],
div#step-two input[type='text'],
div#step-three input[type='text']
{
    padding: 4px;
    border-radius: 4px;
    text-indent: 3px;
    font-size: 16px;
}
textarea { float:right; }
div#step-one .left input[type='text'], div#step-one .left input[type='password'] { float:right; width: 210px; }
div#step-one .right input[type='text'], div#step-one .right input[type='password'] { float:right; width: 180px; }
div#step-two input[type='text'] { float:right; width: 200px; }
div#step-three input[type='text'] { float:right; width: 225px; }
div#index .left input[type='text'], div#index .left input[type='password']
{
    width: 96%;
    float: right;
}

div#index .right input[type='text']
{
    width: 80%;
    float: right;
}

input[type='text'].error,
input[type='password'].error,
div#step-one .row #position.error
{
    border: 1px solid rgb(181, 4, 4);
    border-radius: 5px;;
}

.btn
{
    float: right;
}

input[type='submit'], .btn
{
   background-color: rgb(206,198,189);
   padding: 8px 50px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   font-size: 14px;
   float:right;
}

.small-btn
{
    background-color: rgb(206,198,189);
    padding: 5px 10px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   font-size: 12px;
}

.important-notice 
{ 
    color: rgb(181, 4, 4); 
    font-size: 14px;
    text-align: center;
}
.gengeral-notice 
{
    font-size: 14px;
    text-align: center;
}

#unattending .right label 
{
    text-align: left;
}

#unattending textarea 
{
    float: left;
    width: 98%;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
}


div#profile table, div#venue table
{
    width: 100%;
}

div#profile table tr, div#venue table tr
{
}

div#profile table tr td, div#venue table tr td
{
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
    padding-right: 30px;
}

div#profile table tr td:first-child, div#venue table tr td:first-child
{
    text-align: right;
    width: 30%;
    font-weight: bold;
}

div#conf-lib
{
    width: 100%;
    font-size: 12px;
}

div#conf-lib .block 
{
    display: block;
    float: left;
    margin-top: 10px;
}

div#conf-lib .block > label 
{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

div#conf-lib ul 
{
    margin-top: 0px;
}

div#conf-lib ul li
{
    list-style: none;
}

div#conf-lib ul li > span
{
    width: 200px;
    float: left;
    margin-top: 10px;
}

div#conf-lib ul li > span:first-child
{
    width: 400px;
}

div#register .one-fourth 
{
    width: 250px;
}

#step-one .positions {display: block; float:left;}
.col-left
{
    float:left;
    display: block;
    width: 150px;
    margin-top: 8px;
}

.col-right, .col-right select
{
    float:right;
    display: block;
    width: 188px;
    margin-top: 8px;
}


.col-right > label
{
    text-align: right;
    padding-top: 8px;
    padding-right: 2px;
    font-size: 14px;
    color: #4c4c4c;
    font-weight: bold;
}

.col-right .field {
    float: right;
}